@page
@model IndexModel
@{
    ViewData["Title"] = "Brian Wright";
}

<div class="text-center">
    <h1 class="display-4">Brian Wright</h1>
    <p>I'm a Software Developer from Nashville, Tennessee.</a>.</p>
</div>
